@import "tailwindcss";

body {
  @apply flex  inset-0 justify-center h-screen ;
}
.flex-center {
  @apply flex justify-center items-center h-full;
}

.weather{
  @apply rounded-xl text-slate-700 items-center justify-center py-7 px-15 mt-20 text-center shadow-sm;
  .city {
    @apply text-3xl font-bold;
  }
  .current-weather {
    @apply  mt-5 flex justify-center items-center font-semibold text-2xl;
    
    img {
      @apply w-30 h-auto;
    }
  }
  .temperature {
    @apply text-6xl font-bold mb-5;
  }
  .details {
    .parameter-value {
      @apply font-semibold ;
    }
  }
}

